.uic--mcgonagall-question-card {
  hr {
    border: 0;
    border-top: 1px solid $light-gray;
    margin: 4rem 0;
  }

  .uic--card-more-detail {
    margin-top: 2.6rem;
  }

  .uic--card-cancel {
    margin-top: 1.2rem;
  }
}
