@keyframes bouncing {
  from {
    transform: translateY(1px) scaleY(0.6);
  }

  to {
    transform: translateY(-13px) scaleY(1);
  }
}

.uic--ui-loader {
  height: 200px;
  margin: 0 auto;
  width: 75px;

  svg {
    height: 200px;
    width: 75px;

    &.loader-icon-top {
      animation: bouncing 0.5s infinite alternate;
    }
  }
}
