$transition-duration: 0.25s;
$focus-shadow: rgba(77, 0, 186, 0.5);

.uic--mcgonagall-dropdown {
  margin: 0;
  text-align: left;
  transition-duration: $transition-duration;
  transition-property: color, border-color, box-shadow;

  .uic--mcgonagall-dropdown-wrapper {
    background-color: $white;
  }

  .uic--validation-error,
  .uic--description {
    @include source-sans-pro(1.2rem);
    padding: 0.5rem 0 0 1rem;
  }

  .uic--validation-error {
    color: $pink;
    font-weight: bold;
    visibility: hidden;
  }

  .uic--description {
    color: $slate;
    font-style: italic;
  }

  label {
    @include source-sans-pro(1.2rem);
    color: $slate;
    font-weight: normal;
    left: 0;
    padding: 1.2rem;
    top: 0;
  }

  &.uic--disabled {
    color: $slate;

    label {
      color: $disabled-text;
    }

    .uic--mcgonagall-dropdown-wrapper {
      background-color: $table-alternate;
    }

    .uic--mcgonagall-dropdown__control {
      border-color: $light-gray;
      color: $slate;

      .uic--mcgonagall-dropdown-wrapper {
        background-color: $table-alternate;
      }

      &:focus,
      &:active {
        box-shadow: none;
      }

      .uic--mcgonagall-dropdown__single-value {
        color: $slate;
      }

      &.uic--mcgonagall-dropdown__control--is-focused {
        border: 1px solid $white;
        box-shadow: none;

        .uic--mcgonagall-dropdown__value-container,
        .uic--mcgonagall-dropdown__value-container--has-value,
        .uic--mcgonagall-dropdown__single-value,
        input {
          color: $slate !important; // Required to override react-select input styles.
        }
      }
    }

    .uic--description {
      color: $disabled-text;
    }
  }

  &.uic--error {
    .uic--validation-error {
      visibility: visible;
    }

    .uic--mcgonagall-dropdown__control {
      border: 1px solid $pink;
      box-shadow: none;
      color: $pink;

      &:focus,
      &:active {
        box-shadow: none;
      }

      .uic--mcgonagall-dropdown__single-value {
        color: $pink;
      }

      &.uic--mcgonagall-dropdown__control--is-focused {
        border: 1px solid $pink;
        box-shadow: none;

        .uic--mcgonagall-dropdown__value-container,
        .uic--mcgonagall-dropdown__value-container--has-value,
        .uic--mcgonagall-dropdown__single-value,
        input {
          color: $pink !important; // Required to override react-select input styles.
        }
      }
    }
  }

  // Resets padding and margins
  .uic--mcgonagall-dropdown__value-container {
    height: 100%;
    max-width: 80%;
    min-height: 2.9rem;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    * {
      margin: 0;
    }
  }

  // Dropdown Indicators
  .uic--mcgonagall-dropdown__indicator {
    padding: 0 0.8rem;
  }

  .uic--mcgonagall-dropdown__indicators {
    bottom: 0;
    position: absolute;
    right: 2rem;
    top: 0;
  }

  .uic--mcgonagall-dropdown__indicator-separator {
    visibility: hidden;
  }

  .uic--mcgonagall-dropdown__single-value {
    color: $midnight;
  }

  // Main input field
  .uic--mcgonagall-dropdown__control {
    @include source-sans-pro(2rem);
    background-color: transparent;
    border-color: $light-gray;
    border-radius: 0;
    font-style: normal;
    max-height: 6.3rem;
    padding: 2.3rem 1.2rem 1rem 1rem;
    position: relative;
    z-index: 999;

    input {
      @include source-sans-pro(2rem);
    }

    .uic--mcgonagall-dropdown__placeholder {
      color: $disabled-text;
      font-style: italic;
      font-weight: normal;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    &.uic--mcgonagall-dropdown__control--is-focused {
      border: 1px solid $royal;
      box-shadow: 0 0 4px 0 $focus-shadow;
      color: $royal;
      outline: none;

      .uic--mcgonagall-dropdown__value-container,
      .uic--mcgonagall-dropdown__value-container--has-value,
      .uic--mcgonagall-dropdown__single-value,
      input {
        color: $royal !important; // Required to override react-select input styles.
      }
    }
  }

  .uic--mcgonagall-dropdown__menu {
    border: 0;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: normal;
    z-index: 99999;

    .uic--mcgonagall-dropdown__menu-list {
      background-color: $white;
      border: 1px solid $white;
      max-height: 20rem;
      overflow-y: scroll;

      .uic--mcgonagall-dropdown__option {
        background-color: $white;
        color: $slate;
        cursor: pointer;
        display: block;
        padding: 0.8rem 1rem;

        &.uic--mcgonagall-dropdown__option--is-focused {
          background-color: $parchment;
        }
      }
    }
  }
}
