$twenty: #b34d00;
$forty: #c76501;
$sixty: #ed9403;
$eighty: #6bb508;
$blue: #00f;
$hundred: #1ba21f;

@keyframes chance-of-success_in-progress {
  0% {
    fill: $pink;
    transform: rotate(-130deg);
  }

  20% {
    fill: $twenty;
  }

  40% {
    fill: $forty;
  }

  60% {
    fill: $sixty;
  }

  80% {
    fill: $eighty;
  }

  100% {
    fill: $hundred;
    transform: rotate(130deg);
  }
}

.uic--chance-of-success {
  transition: height 0.3s ease;

  &.uic--chance-of-success__in-progress {
    circle {
      animation: chance-of-success_in-progress 2.3s
        cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; // sass-lint:disable-line indentation
      background-color: $blue;
    }
  }
}
