.uic--bubble-selector__item {
  @include source-sans-pro(1.4rem);
  background: transparent;
  border: solid 1px $slate;
  border-radius: 2.4rem;
  color: $slate;
  cursor: pointer;
  margin: 0 0.7rem;
  max-width: 19.4rem;
  padding: 0.7rem 2rem;
  text-align: center;

  &:hover {
    background-color: $white;
  }
}

.uic--bubble-selector__item--fixed-width {
  width: 100%;
}

.uic--bubble-selector__item--selected {
  background-color: $royal;
  border-color: $royal;
  color: $white;
  cursor: default;
  font-weight: 600;
  position: relative;

  &:hover {
    background-color: $royal;
  }

  .uic--bubble-selector__selected-indicator {
    border-top: 15px solid $royal;
  }
}

.uic--bubble-selector__selected-indicator {
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 0;
  bottom: 0;
  height: 0;
  left: 50%;
  position: absolute;
  // Do not translate 100% to deal with pixel rounding issues
  transform: translate(-50%, 95%);
  transition: 0.5s ease border-top-width;
  width: 0;
}
