$input-shadow: rgba(77, 0, 186, 0.5);
$input-data-value-color: rgba(255, 255, 255, 0);

.uic--mcgonagall-input {
  line-height: normal;
  text-align: left;

  &.uic--error {
    input {
      border: 1px solid $pink;
      box-shadow: none;
      color: $pink;

      &:focus,
      &:active {
        border: 1px solid $pink;
        box-shadow: none;
        color: $pink;
      }
    }

    .uic--validation-error {
      display: block;
    }
  }

  &.uic--disabled {
    .uic--description {
      color: $disabled-text;
    }
  }

  .uic--mcgonagall-input__wrapper {
    background-color: transparent;
  }

  // When the tooltip is present the width of the input and label
  // need to be adjusted to prevent content jumping.
  &.uic--mcgonagall-input__tooltip-present {
    input {
      border: 1px solid transparent !important;
    }

    .uic--mcgonagall-input__wrapper {
      outline: 2px solid $royal;
    }
  }

  .uic--mcgonagall-input__tooltip {
    @include source-sans-pro(1.2rem);
    background-color: $royal;
    border-radius: 4px 10px 0 0;
    box-shadow: 0 0 0.2rem 0 $input-shadow;
    color: $white;
    font-style: italic;
    margin: 0 -2px;
    padding: 0.9rem 1.2rem 0.7rem;
    width: calc(100% + 4px);
    z-index: 1499;

    &.uic--mcgonagall-input__tooltip-hidden {
      visibility: hidden;
    }
  }

  input {
    @include source-sans-pro(2rem);
    background-color: $white;
    border: 1px solid $light-gray;
    color: $midnight;
    padding: 2.6rem 1.2rem 1rem 1rem;
    width: 100%;

    // Styles the label of the input which appears directly beneath it in the DOM.
    &:disabled + label {
      color: $disabled-text;
    }

    &:focus,
    &:active {
      border: 1px solid $royal;
      box-shadow: 0 0 4px 0 $input-shadow;
      color: $royal;
      outline: none;
    }

    &:disabled {
      background-color: $table-alternate;
      color: $disabled-text;

      // Resets the focus and active styles for the input
      // when it's in a disabled state.
      &:focus,
      &:active {
        border: 1px solid $light-gray;
        box-shadow: none;
      }
    }

    &::placeholder {
      color: $disabled-text;
      font-style: italic;
      font-weight: normal;
    }
  }

  label {
    @include source-sans-pro(1.2rem);
    color: $slate;
    font-weight: normal;
    left: 0;
    padding: 1.2rem;
  }

  &.uic--input-prepend {
    &.uic--focus {
      &::before {
        color: $royal;
      }
    }

    // Configures the placeholder color on the pre-pended string.
    &.uic--empty {
      &::before {
        color: $disabled-text;
        font-style: italic;
      }
    }

    &.uic--disabled {
      &::before {
        color: $disabled-text;
      }
    }

    &.uic--error {
      &::before {
        color: $pink;
      }
    }

    &::before {
      color: $midnight;
      font-size: 2rem;
      left: 1.3rem;
      position: absolute;
      top: 2.7rem;
      z-index: 1000;
    }

    input {
      padding-left: 2.3rem;
    }
  }

  .uic--validation-error {
    color: $pink;
    display: none;
    font-weight: bold;
  }

  .uic--description {
    color: $slate;
    font-style: italic;
    white-space: initial;
  }

  .uic--validation-error,
  .uic--description {
    @include source-sans-pro(1.2rem);
    padding: 0.5rem 0 0 1rem;
  }

  &.uic--input-append {
    &.uic--focus {
      &::after {
        color: $royal;
      }
    }

    &[data-value] {
      input {
        background-color: transparent;
        caret-color: $royal;
        color: $input-data-value-color;
        position: relative;
        z-index: 1499;
      }

      &.uic--disabled {
        input {
          background-color: $table-alternate;
          position: inherit;
          z-index: 0;
        }

        &::after {
          color: $disabled-text;
        }
      }

      &::after {
        @include source-sans-pro(2rem);
        color: $midnight;
        left: 1.3rem;
        max-width: calc(100% - 2.6rem);
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        top: 2.6rem;
        white-space: nowrap;
        width: 100%;

        &:focus,
        &:active {
          color: $royal;
        }
      }
    }
  }
}

// Modify styling when in card
.uic--mcgonagall-card-shell {
  .uic--mcgonagall-input {
    padding-bottom: 1.2rem;
  }
}
