.uic--mcg-completion-screen__inner {
  height: calc(100vh - 10rem); // Account for nav
  margin: 0 auto;
  max-width: 850px;
  padding: 0 1.5rem;

  h2 {
    @include cormorant(4rem);
    color: $midnight;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }

  p {
    @include source-sans-pro(1.6rem);
    color: $slate;
    font-weight: 400;
    margin: 1.2rem 0 0;
  }

  .uic--feature {
    margin-bottom: 2.5rem;
  }

  .uic--actions {
    margin-top: 4rem;
  }
}

.admin-nav-present {
  .uic--mcg-completion-screen__inner {
    height: calc(100vh - 16rem); // Account for admin nav
  }
}
