.uic--mcgonagall-message-card {
  .uic--card-feature-image {
    margin-bottom: 1.5rem;
  }

  .uic--card-message-summary {
    padding: 4rem 3.5rem;
  }
}

// Modify styling when in card that has an error
.uic--mcgonagall-card-shell {
  &.uic--card-error {
    .uic--card-message-summary {
      p,
      .uic--btn-link {
        color: $pink;
        font-weight: 600;
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }
}
