.uic--mcgonagall-message-card {
  .uic--card-feature-image {
    margin-bottom: 1.5rem;
  }

  .uic--card-message-summary {
    padding: 4rem 3.5rem;
  }
}

.uic--mcgonagall-card.error .uic--card-message-summary {
  p,
  .uic--btn-link {
    color: $red-magenta;
    font-weight: 600;
  }

  p {
    margin-bottom: 1rem;
  }
}
