{
  "extends": "@istanbuljs/nyc-config-typescript",
  "sourceMap": false,
  "instrument": false,
  "include": [
    "components",
    "proptypes"
  ],
  "exclude": [
    "**/*.spec.js",
    "**/*.spec.jsx",
    "**/*.spec.ts",
    "**/*.spec.tsx"
  ],
  "reporter": [
    "lcov"
  ]
}
