{
  "extends": "@istanbuljs/nyc-config-babel",
  "include": [
    "components",
    "proptypes"
  ],
  "exclude": [
    "**/*.spec.js",
    "**/*.spec.jsx",
    "**/*.spec.ts",
    "**/*.spec.tsx"
  ],
  "reporter": [
    "lcovonly"
  ]
}
