$modal-backdrop: rgba(0, 0, 0, 0.85);

.uic--modal-wrapper {
  .uic--modal-container {
    background-color: $black; // Fallback
    background-color: $modal-backdrop;
    left: 0;
    pointer-events: none;
    top: 0;
    z-index: $z-index-modal;

    .uic--modal-dialog {
      max-width: 100%;
    }

    .uic--modal-interior {
      margin: 0 1rem;
      max-width: 100%;
      pointer-events: auto;

      .uic--modal-close {
        background-color: $royal;
        border-radius: 50%;
        cursor: pointer;
        height: 36px;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: -1.5rem;
        width: 36px;
        z-index: $z-index-modal + 2;
      }

      .uic--modal-body {
        @include source-sans-pro(1.4rem);
        background-color: $white;
        border-top: 4px solid $royal;
        margin: 0 auto;
        max-height: 90vh;
        max-width: 100%;
        overflow-y: auto;
        padding: 2rem 4rem 4rem;
        text-align: center;
        width: 56.4rem;
        z-index: $z-index-modal + 1;

        .uic--modal-bottom {
          margin-top: 3.1rem;
        }

        h2 {
          @include source-sans-pro(2rem);
          color: $midnight;
          font-weight: normal;
          margin: 1.6rem 0 2.8rem;
        }

        p {
          color: $midnight;
        }
      }
    }
  }
}
