$tooltip-shadow: rgba(91, 98, 121, 0.5);
$tooltip-filter: rgba(0, 0, 0, 0.5);

.uic--tooltip {
  .uic--tooltip-wrapper {
    @include source-sans-pro(1.4rem);
    background-color: $white;
    border: 0;
    border-radius: 4px;
    box-shadow: 3px 3px 6px 0 $tooltip-shadow;
    filter: drop-shadow(1px 1px 1px $tooltip-filter);
    padding: 2.1rem;

    &.__react_component_tooltip {
      &.type-dark {
        color: $slate;
      }

      &.place-right {
        &::after {
          border-right-color: $white;
        }
      }

      &.place-bottom {
        &::after {
          border-bottom-color: $white;
        }
      }

      &.place-left {
        &::after {
          border-left-color: $white;
        }
      }

      &.place-top {
        &::after {
          border-top-color: $white;
        }
      }
    }

    &.show {
      opacity: 1;
    }
  }
}
