$tooltip-shadow: rgba(91, 98, 121, 0.5);
$tooltip-filter: rgba(0, 0, 0, 0.5);
$dark-background-color: $royal;
$light-background-color: $white;

.uic--tooltip {
  .uic--tooltip-wrapper {
    @include source-sans-pro(1.4rem);
    background-color: $light-background-color;
    border: 0;
    border-radius: 4px;
    box-shadow: 3px 3px 6px 0 $tooltip-shadow;
    filter: drop-shadow(1px 1px 1px $tooltip-filter);
    padding: 2.1rem;
    z-index: 1030;

    &.__react_component_tooltip {
      &.type-dark {
        color: $slate;
      }

      &.place-right {
        &::after {
          border-bottom: 12px solid transparent;
          border-right-color: $light-background-color;
          border-right-width: 12px;
          border-top: 12px solid transparent;
          left: -11px;
        }
      }

      &.place-bottom {
        &::after {
          border-bottom-color: $light-background-color;
          border-bottom-width: 12px;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          top: -11px;
        }
      }

      &.place-left {
        &::after {
          border-bottom: 12px solid transparent;
          border-left-color: $light-background-color;
          border-left-width: 12px;
          border-top: 12px solid transparent;
          right: -11px;
        }
      }

      &.place-top {
        &::after {
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top-color: $light-background-color;
          border-top-width: 12px;
          bottom: -11px;
        }
      }
    }

    &.uic--tooltip-dark {
      background-color: $dark-background-color;

      &.__react_component_tooltip {
        &.type-dark {
          color: $white;
        }

        &.place-right {
          &::after {
            border-right-color: $dark-background-color;
          }
        }

        &.place-bottom {
          &::after {
            border-bottom-color: $dark-background-color;
          }
        }

        &.place-left {
          &::after {
            border-left-color: $dark-background-color;
          }
        }

        &.place-top {
          &::after {
            border-top-color: $dark-background-color;
          }
        }
      }
    }

    &.show {
      opacity: 1;
    }
  }
}
