$button-size: 1.6rem;
$button-padding: 1.6rem;

.mcgonagall-radio-button-container {
  border: 0;
  padding: 0;
  margin: 0;

  legend {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;

    &.table {
      border: 1px solid $white-seven;
      margin: 1.4rem 0;

      .mcgonagall-radio-button {
        padding: 1.4rem;
        border-bottom: 1px solid $white-seven;
        margin: 0;
        background-color: $white-four;

        &:nth-of-type(2n) {
          background-color: $white-three;
        }
      }
    }
  }
}

.mcgonagall-radio-button {
  @include source-sans-pro(1.6rem);
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 2.8rem;
  }

  .radio-input {
    position: absolute;
    opacity: 0;
    left: 0;

    &:focus + .option-box-radio {
      border: 1px solid $violet-blue;
    }
  }

  .radio-label {
    display: block;
    color: $slate;
    user-select: none;
    position: relative;
    padding-left: $button-size + $button-padding;
    width: 100%;
    cursor: pointer;

    // Radio Button disabled state.
    &.disabled {
      opacity: 0.5;
      cursor: default;

      .radio {
        opacity: 0.5;
        cursor: default;
      }
    }
  }

  .followup {
    margin-top: 0.6rem;
  }

  .label-value-secondary {
    color: $dark-blue;
    font-weight: 800;
    margin-left: 1rem;
  }
}
