$button-size: 1.6rem;
$button-padding: 1.6rem;

.uic--mcgonagall-radio-button-container {
  border: 0;
  padding: 0;
  margin: 0;

  legend {
    border: 0;
    padding: 0;
    margin: 0;

    &.uic--table {
      border: 1px solid $white-seven;
      margin: 1.4rem 0;

      .uic--mcgonagall-radio-button {
        padding: 1.4rem;
        border-bottom: 1px solid $white-seven;
        margin: 0;
        background-color: $white-four;

        &:nth-of-type(2n) {
          background-color: $table-alternate;
        }
      }
    }
  }
}

.uic--mcgonagall-radio-button {
  @include source-sans-pro(1.6rem);

  &:not(:last-child) {
    margin-bottom: 2.8rem;

    &.uic--mcgonagall-radio-button-followup {
      margin-bottom: 1rem;
    }
  }

  .uic--radio-input {
    opacity: 0;
    left: 0;

    &:focus + .uic--option-box-radio {
      border: 1px solid $violet-blue;
    }
  }

  .uic--radio-label {
    color: $slate;
    user-select: none;
    padding-left: $button-size + $button-padding;
    cursor: pointer;
    font-weight: normal;

    // Radio Button disabled state.
    &.uic--disabled {
      opacity: 0.5;
      cursor: default;

      .uic--radio {
        opacity: 0.5;
        cursor: default;
      }
    }
  }

  .uic--followup {
    margin-top: 0.6rem;
  }

  .uic--label-value-secondary {
    color: $dark-blue;
    font-weight: 600;
    margin-left: 1rem;
  }
}
