$button-size: 1.6rem;
$button-padding: 1.6rem;
$label-horizontal-padding: $button-size + $button-padding;
$label-vertical-padding: 1.4rem;

.uic--mcgonagall-radio-button-container {
  border: 0;
  margin: 0;
  padding: 0;

  legend {
    border: 0;
    margin: 0;
    padding: 0;

    &.uic--table {
      border: 1px solid $light-gray;
      margin: 1.4rem 0;

      .uic--mcgonagall-radio-button {
        background-color: $white;
        border-bottom: 1px solid $light-gray;
        margin: 0;
        padding: 1.4rem;

        .uic--radio-label {
          padding-bottom: 0;
          padding-top: 0;
        }

        &:nth-of-type(2n) {
          background-color: $table-alternate;
        }
      }
    }
  }
}

.uic--mcgonagall-radio-button {
  @include source-sans-pro(1.6rem);

  .uic--radio-input {
    left: 0;
    opacity: 0;

    &:focus + .uic--option-box-radio {
      border: 1px solid $royal;
    }
  }

  .uic--radio-label {
    color: $slate;
    cursor: pointer;
    font-weight: normal;
    padding-bottom: $label-vertical-padding;
    padding-left: $label-horizontal-padding;
    padding-top: $label-vertical-padding;
    user-select: none;

    // Radio Button disabled state.
    &.uic--disabled {
      cursor: default;
      opacity: 0.5;

      .uic--radio {
        cursor: default;
        opacity: 0.5;
      }
    }
  }

  .uic--option-box-radio {
    top: auto;
  }

  .uic--followup {
    margin-top: 0.6rem;
    padding-left: $label-horizontal-padding;
  }

  .uic--label-value-secondary {
    color: $midnight;
    font-weight: 600;
    margin-left: 1rem;
  }
}

// In McG cards, enable hover effect to radio buttons as long as it's not being used in a follow up
$mcg-side-margin: 3.5rem;

.uic--mcgonagall-card-shell {
  .uic--mcgonagall-radio-button-container {
    &:not(.uic--table) {
      margin-left: -$mcg-side-margin;
      margin-right: -$mcg-side-margin;

      .uic--radio-label {
        padding-left: $label-horizontal-padding + $mcg-side-margin;
        padding-right: $label-horizontal-padding + $mcg-side-margin;

        &:hover {
          background-color: $table-alternate;
        }
      }

      .uic--followup {
        padding-left: $label-horizontal-padding + $mcg-side-margin;
        padding-right: $label-horizontal-padding + $mcg-side-margin;
      }

      .uic--radio-input {
        left: $mcg-side-margin;
      }

      .uic--option-box-radio {
        left: $mcg-side-margin;
      }
    }
  }

  // If being used within a followup or ExpandCollapse, should not have the hover styling
  .uic--followup,
  .uic--ec {
    .uic--mcgonagall-radio-button-container {
      &:not(.uic--table) {
        margin-left: 0;
        margin-right: 0;

        .uic--radio-label {
          padding-left: $label-horizontal-padding;
          padding-right: $label-horizontal-padding;

          &:hover {
            background-color: transparent;
          }
        }

        .uic--radio-input {
          left: auto;
        }

        .uic--option-box-radio {
          left: 0;
        }
      }
    }
  }
}
