.mcgonagall-input {
  position: relative;
  line-height: normal;
  text-align: left;

  &.error {
    input {
      color: $red-magenta;
      box-shadow: none;
      border: 1px solid $red-magenta;

      &:focus,
      &:active {
        border: 1px solid $red-magenta;
        box-shadow: none;
        color: $red-magenta;
      }
    }

    .validation-error {
      visibility: visible;
    }
  }

  // Styles the label of the input which appears directly beneath it in the DOM.
  input:disabled + label {
    color: $slate;
  }

  input {
    @include source-sans-pro(2rem);
    color: $dark-blue;
    border: 1px solid $white-seven;
    background-color: $white-four;
    padding: 2.6rem 1.2rem 1rem 1rem;
    width: 100%;

    &:focus,
    &:active {
      border: 1px solid $violet-blue;
      color: $violet-blue;
      box-shadow: 0 0 4px 0 rgba(77, 0, 186, 0.5);
      outline: none;
    }

    &:disabled {
      background-color: $pampas;
      color: $bluey-grey;
      font-style: italic;

      /* Resets the focus and active styles for the input
        when it's in a disabled state. */
      &:focus,
      &:active {
        border: 1px solid $white-seven;
        box-shadow: none;
      }
    }

    &::placeholder {
      font-weight: normal;
      font-style: italic;
      color: $bluey-grey;
    }
  }

  label {
    @include source-sans-pro(1.2rem);
    position: absolute;
    padding: 1.2rem;
    color: $slate;
    font-weight: normal;
    left: 0;
  }

  &.input-prepend {
    &.focus:before {
      color: $violet-blue;
    }

    // Configures the placeholder color on the pre-pended string.
    &.empty:before {
      color: $bluey-grey;
      font-style: italic;
    }

    &:before {
      position: absolute;
      top: 2.7rem;
      left: 1.3rem;
      z-index: 9999;
      color: $dark-blue;
      font-size: 2rem;
    }

    input {
      padding-left: 2.3rem;
    }
  }

  &.input-append {
    /* Mimic's text overflowing for masked/hidden inputs. */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.focus:after {
      color: $violet-blue;
    }
  }

  .validation-error {
    color: $red-magenta;
    font-weight: bold;
    visibility: hidden;
  }

  .description {
    color: $slate;
    font-style: italic;
  }

  .validation-error,
  .description {
    @include source-sans-pro(1.2rem);
    padding: 0.5rem 0 0 1rem;
  }
}

.input-append[data-value]:after {
  @include source-sans-pro(2rem);
  color: $dark-blue;
  position: absolute;
  width: 100%;
  left: 1.3rem;
  top: 2.6rem;

  &:focus,
  &:active {
    color: $violet-blue;
  }
}

.input-append[data-value] input {
  color: rgba(255, 255, 255, 0);
  z-index: 9999;
  background-color: transparent;
  position: relative;
  caret-color: $violet-blue;
}
