.mcgonagall-input {
  position: relative;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;

  input {
    @include source-sans-pro(2rem);
    color: $dark-blue;
    height: 6rem;
    border: 1px solid $white-seven;
    background-color: $white-four;
    padding: 2.6rem 1.2rem 1rem 1.2rem;;
    width: 100%;

    &:focus, &:active {
      border: 1px solid $violet-blue;
      color: $violet-blue;
      box-shadow: 0 0 4px 0 rgba(77, 0, 186, 0.5);
      outline: none;
    }

    &.error {
      color: $red-magenta;
      box-shadow: none;
      border: 1px solid $red-magenta;
      color: $red-magenta;
    }
  }

  label {
    @include source-sans-pro(1.2rem);
    color: black;
    position: absolute;
    padding: 1.2rem;
    color: $slate;
  }


  &.input-prepend {
    &.focus:before {
      color: $violet-blue;
    }

    &:before {
      content: '$';
      position: absolute;
      top: 2.6rem;
      left: 1.3rem;
      z-index: 9999;
      color: $dark-blue;
      font-size: 2rem;
    }

    input {
      padding-left: 2.3rem;
    }
  }

  &.input-append {
    &.focus:after {
      color: $violet-blue;
    }
  }
}

.input-append[data-value]:after {
  @include source-sans-pro(2rem);
  content: attr(data-value) "%";
  color: $dark-blue;
  position: absolute;
  width: 100%;
  left: 1.3rem;
  top: 2.6rem;

  &:focus, &:active {
    color: $violet-blue;
  }
}

.input-append[data-value] input {
  color: rgba(255, 255, 255, 0);
  z-index: 9999;
  background-color: transparent;
  position: relative;
  caret-color: $violet-blue;
}