.uic--paginated-tile {
  .uic--tile__footer {
    height: 5rem;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
  }

  &__pagination-footer {
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  &__pagination-only {
    justify-content: flex-end;
  }

  &__footer-content-only {
    justify-content: flex-start;
  }

  &__pagination-controls {
    align-self: stretch;

    .uic--paginated-tile__pagination-button {
      border-radius: 0;
      height: 100%;

      &:first-child {
        margin-right: 1px;
      }
    }
  }
}
