$min-height: 10rem;
$background-size: 17rem;
$container-min-height: 2.4rem;

.uic--info-box {
  border: 1px solid $light-gray;

  hr {
    background-color: $light-gray;
    border: 0;
    color: $light-gray;
    height: 1px;
  }

  .uic--info-box-title-area {
    background-color: $midnight;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: $background-size;
    min-height: $min-height;
    overflow: hidden;
    position: relative;

    .uic--info-box-title-text {
      color: $white;
      left: 2rem;
      pointer-events: none;
      position: absolute;
      right: 15rem;
      top: 2.5rem;
    }
  }

  .uic--info-box-information-area {
    background-color: $white;
    min-height: $min-height;
    padding: 1.6rem 2rem;

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  &-formatted-row {
    display: flex;
    justify-content: space-between;
    min-height: $container-min-height;

    .uic--row-label {
      @extend %uic--body-text;
      word-break: break-all;
    }
  }

  &.uic--info-box-selectable {
    cursor: pointer;

    &:hover {
      box-shadow: 2px 2px 6px 0 $light-gray;
    }
  }

  &.uic--info-box-expand {
    .uic--info-box-title-area {
      background-size: 0;
      min-height: 20rem;
    }

    .uic--info-box-information-area {
      display: none;
    }
  }
}
