$transition-time: 0.5s;
$fast-transition-time: 0.2s;

.uic--ec {
  color: $midnight;
  margin-bottom: 3.3rem;

  &.uic--ec-disabled {
    .uic--ec-label {
      color: $slate;
      cursor: initial;
      font-weight: normal;
    }
  }

  &.uic--ec-uncollapsible {
    .uic--ec-label {
      cursor: initial;
    }
  }

  .uic--ec-label {
    @include source-sans-pro(1.6rem);
    font-weight: 600;
    padding-left: 5rem;

    &:focus {
      opacity: 0.8;
    }

    .uic--ec-label-description {
      font-size: 1.2rem;
      font-style: italic;
    }
  }

  .uic--ec-required-fields {
    color: $pink;
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: 1rem;
  }

  .uic--ec-controls-wrapper {
    left: 0;
    top: -0.2rem;
  }

  .uic--ec-controls {
    transition: transform 0.2s ease-in-out;
  }

  .uic--ec-controls,
  .uic--ec-label {
    cursor: pointer;
  }

  .uic--ec-content-container {
    padding-left: 5rem;

    &::after {
      border-bottom: 1px solid $light-gray;
      content: '';
      display: block;
      height: 1px;
      margin-top: 3rem;
    }

    .uic--ec-content {
      padding-top: 3rem;
    }

    h1,
    h2,
    h3 {
      // Resets the margin for headers within the ExpandCollapse component.
      margin-top: 0;
    }

    hr {
      background-color: $light-gray;
      border: 0;
      color: $light-gray;
      height: 1px;
      margin-top: 3rem;
    }

    .uic--ec-content-inner {
      height: auto;
      overflow: hidden;
      transition: height $transition-time;
    }
  }

  .uic--ec-aside {
    color: $slate;
    font-size: 1.4rem;
  }
}

// Modify styling when in card
.uic--mcgonagall-card-shell {
  .uic--ec {
    margin-left: -5rem; // Configures the margins of the ExpandCollapse component when placed in a card so the arrows float off the left side.
    top: -1rem; // Override to make it appear higher than other content in the card.

    .uic--ec-controls-wrapper {
      left: 0.3rem;
    }
  }

  .uic--ec-controls-wrapper {
    transform: scale(0);
  }

  &.uic--animation-ended {
    .uic--ec-controls-wrapper {
      transform: scale(1);
      transition: 0.5s cubic-bezier(0.18, 0.89, 0.35, 2.05) transform;
    }
  }
}

// Modify styling when used in the QuestionAnswer component.
.uic--question-answer {
  .uic--ec {
    border-bottom: 1px solid $light-gray;
    margin-top: 3rem;
    padding-bottom: 1.8rem;

    .uic--ec-label {
      @include source-sans-pro(2.2rem);
      font-weight: normal;
      line-height: initial;
      padding: 0 1.5rem 0 4.2rem;
    }

    .uic--ec-content-container {
      padding: 0 7rem 0 4.2rem;

      &::after {
        border-bottom: 0;
        margin-top: 0;
      }
    }

    .uic--ec-controls-wrapper {
      @include media-breakpoint-up(md) {
        left: -1.6rem;
      }

      @include media-breakpoint-up(lg) {
        left: -1.2rem;
      }

      display: flex;
      left: 0.4rem;
      top: 0.3rem;
    }

    .uic--ec-content {
      @include source-sans-pro(1.4rem);
      border-bottom: 0;
      color: $slate;
      line-height: 1.5;
      padding-top: 0.6rem;
    }

    .uic--ec-content-inner {
      margin-top: 1.2rem;
      transition: height $fast-transition-time;
    }
  }
}
