$width: 1.3rem;

.uic--arrow-line-icon {
  width: $width;

  .uic--arrow-line-icon__line {
    bottom: 1px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 1px;
  }

  .uic--arrow-line-icon__arrowhead {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: $width;
  }
}
