$button-size: 1.6rem;
$button-padding: 1.6rem;

.mcgonagall-checkbox-button-container {
  &.table {
    border: 1px solid $white-seven;
    margin: 1.4rem 0;

    .mcgonagall-checkbox-button {
      padding: 1.4rem;
      border-bottom: 1px solid $white-seven;
      margin: 0;
      background-color: $white-four;

      &:nth-of-type(2n) {
        background-color: $white-three;
      }
    }
  }
}

.mcgonagall-checkbox-button {
  @include source-sans-pro(1.6rem);
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 2.8rem;
  }

  .checkbox-input:checked ~ .checkbox {
    background: $violet-blue;
    border-color: transparent;

    &:after {
      top: 0.1rem;
      left: 0.4rem;
      width: 0.4rem;
      height: 0.8rem;
      border: solid $white-four;
      border-width: 0 .2rem .2rem 0;
      transform: rotate(40deg);
    }
  }

  .checkbox-input {
    position: absolute;
    opacity: 0;
    left: 0;

    &:checked ~ .checkbox:after {
      display: block;
    }
  }

  .checkbox-label {
    display: block;
    color: $slate;
    user-select: none;
    position: relative;
    display: block;
    padding-left: $button-size + $button-padding;
    width: 100%;
    cursor: pointer;

    &.disabled {
      opacity: 0.6;
      cursor: default;

      .checkbox {
        opacity: 0.6;
        cursor: default;
      }
    }
  }

  .checkbox {
    position: absolute;
    left: 0;
    top: 0.2rem;
    height: 1.6rem;
    width: 1.6rem;
    border: 1px solid $bluey-grey-two;
    cursor: pointer;


    &:after {
      content: ' ';
      position: absolute;
    }
  }

  .followup {
    margin-top: 0.6rem;
  }

  .label-value-secondary {
    color: $dark-blue;
    font-weight: 800;
  }
}
