@import '~rc-slider/assets/index.css';

@mixin star-marker {
  background-image: url(../../../assets/icons/star.svg);
  background-size: 75%;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin highlighted($color) {
  background-color: $color;
  border-color: $color;
}

.uic--slider-wrapper {
  margin: 16rem 5rem 9rem;

  @include media-breakpoint-down(xs) {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  &.uic--highlighted-green {
    .uic--tooltip {
      background-color: $green;

      &::before {
        border-color: $green transparent transparent transparent;
      }
    }
    .rc-slider-with-marks {
      .rc-slider-handle {
        @include star-marker;
        @include highlighted($green);
      }
    }
  }

  &.uic--highlighted-purple {
    .uic--tooltip {
      background-color: $violet-blue;

      &::before {
        border-color: $violet-blue transparent transparent transparent;
      }
    }
    .rc-slider-with-marks {
      .rc-slider-handle {
        @include star-marker;
        @include highlighted($violet-blue);
      }
    }
  }

  // Annotation containers.
  .uic--left-annotate-container,
  .uic--right-annotate-container {
    height: 8rem;
    width: 8rem;
    bottom: -13rem;
  }

  .uic--left-annotate-container {
    left: -4rem;
  }

  .uic--right-annotate-container {
    right: -4rem;
  }

  // Markers which appear to the left and right of the slider.
  .uic--left-annotate,
  .uic--right-annotate {
    @include source-sans-pro(1.2rem);
    color: $slate;
    word-break: break-word;
    text-align: center;
  }

  .uic--tooltip {
    top: -13rem;
    width: 20rem;
    height: 10rem;
    margin-left: -10.1rem;
    background-color: $violet-blue;
    text-align: left;
    color: white;
    padding: 1.5rem 2rem;
    transition-duration: 200ms;
    transition-property: left;
    transition-timing-function: ease-in-out;

    &::before {
      border-color: $violet-blue transparent transparent transparent;
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1.04rem 0.8rem 0 0.8rem;
      left: 46.5%;
      bottom: -1rem;
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  .uic--tooltip-sticky-hint {
    text-align: center;
    top: 3rem;
    width: 18rem;
    height: 10rem;
    margin-left: -9rem;
    pointer-events: none;

    &.uic--show {
      &::after {
        content: ' ';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: $grey;
        border-radius: 50%;
        left: 44.44%;
        top: -3.4rem;
        z-index: 1;

        @include media-breakpoint-down(md) {
          left: 43%;
        }
      }
    }

    &.uic--show.uic--green::after {
      @include star-marker;
      @include highlighted($green);
      background-size: 60%;
    }

    &.uic--show.uic--purple::after {
      @include star-marker;
      @include highlighted($violet-blue);
      background-size: 60%;
    }
  }

  // Creates a CSS class for each tooltip position, 1 - 10
  @for $i from 0 through 10 {
    .uic--tooltip-position-#{$i} {
      @if ($i) < 1 {
        left: 36px;
        &::before {
          left: 28.5%;
        }
      } @else if $i == 10 {
        left: auto;
        right: -63px;
        &::before {
          left: 64.5%;
        }
      } @else {
        $position: percentage(($i) * 1/10);
        left: $position;
      }
      @include media-breakpoint-down(xs) {
        &.uic--tooltip {
          left: 50%;
        }
      }
    }
  }

  // Overrides for React Slider
  .rc-slider-with-marks {
    margin: 5rem 0rem 7rem 0rem;

    .rc-slider-rail {
      height: 2px;
      color: $grey;
      z-index: 0;
    }

    .rc-slider-dot {
      display: none;
    }

    .rc-slider-handle {
      // Overrides the react slider handler.
      height: 16px;
      width: 16px;
      margin-left: -8px;
      margin-top: -7px;
      background-color: $violet-blue;
      border-color: $violet-blue;
    }

    .rc-slider-mark {
      top: -30px;
    }

    .rc-slider-mark .rc-slider-mark-text {
      @include source-sans-pro(1.6rem);
      color: $slate;
      top: 6rem;
    }
  }
}
