$hover-shadow: rgba(77, 0, 186, 0.5);

.uic--ranking-list {
  margin: 0;

  .uic--ranking-controls {
    cursor: pointer;

    &.uic--default-control {
      // Required as focus controlled ranking requires a :hover pseudo.
      display: none;
    }

    .uic--up,
    .uic--down {
      left: 0;
      right: 0;
      margin: auto;

      &:focus {
        outline: none;
      }

      svg {
        left: 50%;
      }
    }

    .uic--up {
      top: -1rem;

      svg {
        transform: translateX(-50%);
      }
    }

    .uic--down {
      bottom: -1.5rem;

      svg {
        transform: rotate(180deg) translateX(50%);
        bottom: 0;
      }
    }
  }

  ol {
    @include source-sans-pro(1.6rem);
    padding: 0;
    margin: 0;
    list-style-type: none;

    &.uic--idle {
      li:last-child {
        border-top: 0;
      }

      li:first-child {
        border-bottom: 0;
      }
    }

    &.uic--dragging {
      li {
        border: 1px solid $white-seven;
      }
    }

    li {
      border: 1px solid $white-seven;
      color: $slate;

      &.uic--focus-control {
        &:focus {
          box-shadow: 0 0 4px 0 $hover-shadow;
        }
      }

      &.uic--dragging {
        border: 1px solid $violet-blue;
        box-shadow: 0 0 4px 0 $hover-shadow;
      }

      .uic--inner {
        padding: 1.4rem;
        margin-bottom: 0;
        background-color: $white-four;
        border: 1px solid transparent;

        &.uic--focus-control {
          z-index: 30;
          border: 1px solid $violet-blue;
          box-shadow: 0 0 4px 0 $hover-shadow;
        }
      }

      &:last-child {
        .uic--down {
          display: none;
        }
      }

      &:first-child {
        .uic--up {
          display: none;
        }
      }

      label {
        padding-left: 2.7rem;
        margin: 0;
        font-weight: normal;
      }

      &:focus {
        outline: none;
      }

      &:hover,
      &:focus {
        outline: none;

        .uic--inner.movable {
          z-index: 30;
          border: 1px solid $violet-blue;
          box-shadow: 0 0 4px 0 $hover-shadow;
          outline: none;
        }

        .uic--ranking-controls {
          display: block;
        }
      }
    }
  }

  .uic--label-value-secondary {
    color: $dark-blue;
    font-weight: 600;
    margin-left: 1rem;
  }
}
