$hover-shadow: rgba(77, 0, 186, 0.5);

.uic--ranking-list {
  margin: 0;

  .uic--ranking-controls {
    cursor: pointer;

    &.uic--default-control {
      // Required as focus controlled ranking requires a :hover pseudo.
      display: none;
    }

    .uic--up,
    .uic--down {
      left: 0;
      margin: auto;
      right: 0;

      svg {
        left: 50%;
      }
    }

    .uic--up {
      top: -1rem;

      svg {
        transform: translateX(-50%);
      }
    }

    .uic--down {
      bottom: -1.5rem;

      svg {
        bottom: 0;
        transform: rotate(180deg) translateX(50%);
      }
    }
  }

  ol {
    @include source-sans-pro(1.6rem);
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.uic--idle {
      li {
        &:last-child {
          border-top: 0;
        }

        &:first-child {
          border-bottom: 0;
        }
      }
    }

    &.uic--dragging {
      li {
        border: 1px solid $light-gray;
      }
    }

    li {
      border: 1px solid $light-gray;
      color: $slate;

      &.uic--focus-control {
        &:focus {
          box-shadow: 0 0 4px 0 $hover-shadow;
        }
      }

      &.uic--dragging {
        border: 1px solid $royal;
        box-shadow: 0 0 4px 0 $hover-shadow;
      }

      .uic--inner {
        background-color: $white;
        border: 1px solid transparent;
        margin-bottom: 0;
        padding: 1.4rem;

        &.uic--focus-control {
          border: 1px solid $royal;
          box-shadow: 0 0 4px 0 $hover-shadow;
          z-index: 30;
        }
      }

      &:last-child {
        .uic--down {
          display: none;
        }
      }

      &:first-child {
        .uic--up {
          display: none;
        }
      }

      label {
        font-weight: normal;
        margin: 0;
        padding-left: 2.7rem;
      }

      &:hover,
      &:focus {
        .uic--inner {
          &.movable {
            border: 1px solid $royal;
            box-shadow: 0 0 4px 0 $hover-shadow;
            z-index: 30;
          }
        }

        .uic--ranking-controls {
          display: block;
        }
      }
    }
  }

  .uic--label-value-secondary {
    color: $midnight;
    font-weight: 600;
    margin-left: 1rem;
  }
}
