$aqua: #2cdae8;
$black: #000000;
$blueberry: #453775;
$blue-grey-four: #8a90a5;
$bluey-grey-three: #8e94a9;
$bluey-grey-two: #8e94a8;
$bluey-grey: #9fa6bb;
$cloudy-blue: #b4accc;
$cool-grey: #b8bcc6;
$cool-grey-two: #a5a8b3;
$cool-grey-three: #a2a6b5;
$danger-red: #B30052;
$dark-blue: #10004c;
$dark-grass-green: #417505;
$dark-indigo: #25165a;
$dark-lavender: #695e8f;
$dark-red: #780052;
$darker-blue: #0d003b;
$darker-light-pink: #F0D1D8;
$duck-egg-blue-two: #acf6f1;
$duck-egg-blue: #e4f9f0;
$easter-purple: #9E71FF;
$eggplant: #260070;
$emerald: #018e54;
$emerald-green: #008422;
$gold: #77620a;
$grey: #dddddd;
$gunmetal: #484b5a;
$heather: #8e85ac;
$invalid-grey: #a8acbc;
$light-blue-grey: #ccb9e5;
$light-blue-grey-two: #c2e5e9;
$light-indigo: #8856ce;
$light-pink: #FFF0F4;
$light-teal: #98d7e1;
$lilac: #8949ED;
$midnight-blue: #0a002a;
$ocean: #007395;
$orange: #d37b00;
$pale-aqua: #caffe6;
$pale-grey: #e6e7ec;
$pale-grey-two: #e8e8ea;
$pale-grey-three: #e6ddee;
$pale-purple: #ab87d9;
$pampas: #FCFBFA;
$pinkish-grey: #bbbbbb;
$purple-blue: #6524c2;
$red-magenta: #b30052;
$robins-egg-blue: #acf0f6;
$safe-green: #1BA21F;
$seafoam-blue: #6dc9da;
$shadow: #0c003b;
$silver: #d1d3d9;
$silver-two: #dddee1;
$silver-three: #c2c5ce;
$slate: #5b6279;
$steel: #727992;
$stratos: #0b0037;
$tea: #56b28c;
$teal-green: #259d6c;
$tealish: #23b1cd;
$tealish-two: #42bad2;
$tiffany-blue-two: #88e6f2;
$tiffany-blue: #7adeea;
$true-green: #00a30c;
$violet-blue: #4d00ba;
$warm-grey: #979797;
$warm-grey-two: #888888;
$warm-grey-three: #a1a1a1;
$white-30: rgba(255, 255, 255, 0.3);
$white-50: rgba(255, 255, 255, 0.5);
$white-70: rgba(255, 255, 255, 0.7);
$white-five: #f7f7f7;
$white-four: #ffffff;
$white-seven: #dddddd;
$white-six: #d8d8d8;
$white-three: #f8f7f4;
$white-two: #fbfaf9;
$white: #fefefe;
$windows-blue-zero: #1a718e;
$windows-blue: #4db0cf;
$yellow: #dc9f00;
