/* Brand Colors */
$midnight: #10004c;
$middle-purple: #260070;
$royal: #4d00ba;

/* Neutrals */
$white: #ffffff;
$table-alternate: #fcfbfa;
$parchment: #f8f7f4;
$light-gray: #dddddd;
$slate: #5b6279;

/* Secondary Accent Colors */
$pink: #b30052;
$green: #008422;
$orange: #d16b08;
$disabled-text: #9fa6bb;
$super-dark: #0b0037;

/* Tints & Shades */
$midnight-90: #281a5e;
$midnight-80: #3f336f;
$midnight-70: #584d82;
$midnight-60: #6f6693;
$midnight-50: #8780a5;
$midnight-40: #9f99b7;
$midnight-30: #b7b3c9;
$midnight-20: #cfccdb;
$midnight-10: #e7e6ed;
$slate-90: #6b7186;
$slate-80: #7c8194;
$slate-70: #8c91a1;
$slate-60: #9da1af;
$slate-50: #adb0bc;
$slate-40: #bdc0c9;
$slate-30: #cdcfd6;
$slate-20: #dee0e4;
$slate-10: #eeeff1;
