.uic--card-summary-group {
  h3 {
    &.uic--card-summary-label {
      font-weight: 600;
    }
  }

  .uic--row {
    margin-top: 0.75rem;
  }

  &:not(.uic--striped) {
    padding-top: 0.5rem;
  }

  &.uic--striped {
    &:nth-of-type(2n) {
      background-color: $table-alternate;
      border-bottom: solid 1px $light-gray;
      border-top: solid 1px $light-gray;
    }
  }
}
