.uic--question-answer {
  border-color: $light-gray;
  border-style: solid;
  border-width: 1px 0;
  overflow: hidden;

  .uic--question-answer__header {
    @include media-breakpoint-down(md) {
      background-color: $table-alternate;
      border-bottom: 1px solid $light-gray;
      padding: 2rem 0;
    }

    background-color: $white;
    border-right: 1px solid $light-gray;
    color: $midnight;
    margin: 0;

    .uic--question-answer__header-inner {
      @include media-breakpoint-up(md) {
        width: 34rem;
      }

      p {
        @include source-sans-pro(1.6rem);

        @include media-breakpoint-up(lg) {
          font-size: 1.75rem;
        }

        color: $slate;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
      }

      &:first-of-type {
        margin-top: 2rem;
      }
    }

    .uic--question-answer__header-inner-title {
      line-height: 1.2;
      padding: 0 1.5rem;
    }
  }

  .uic--question-answer__qa {
    background-color: $table-alternate;

    .uic--question-answer__qa-wrapper {
      @include media-breakpoint-up(md) {
        margin: 0 -1.5rem;
      }

      margin: auto;

      .uic--question-answer__qa-wrapper-question {
        min-height: 1rem;

        &:last-child {
          .uic--ec {
            border-bottom: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
