$fixed-navbar-height: 48px;
$static-navbar-height: 100px;
$static-navbar-border: hsla(0, 0%, 0%, 0.1);
$fixed-navbar-border: hsla(0, 0%, 100%, 0.1);
$navigation-z-index: 99999;

.uic--navbar__prevent-scroll {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.uic--navbar {
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  transition: all 0.3s linear;
  z-index: $navigation-z-index;

  .uic--navbar__mobile-drawer {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    z-index: $navigation-z-index;

    .uic--navbar__mobile-drawer-wrapper {
      left: 0;
    }

    .uic--navbar__mobile-drawer-icon {
      cursor: pointer;
      outline: none;
    }

    .uic--navbar__mobile-drawer-list {
      -ms-overflow-style: none; // Used to hide scroll-bar on IE.
      list-style: none;
      margin: 0;
      overflow: scroll;
      padding: 0;
      text-align: center;

      li {
        @include source-sans-pro(1.4rem);
        margin: 0;
        padding: 1.5rem 2rem;
        width: 100%;

        a {
          text-decoration: none;
        }

        .btn {
          cursor: pointer;
        }
      }
    }
  }

  .uic--navbar__left-navigation {
    flex: 2;

    .uic--navbar__left-navigation-list {
      @include media-breakpoint-down(md) {
        display: none;
      }

      list-style: none;
      margin: 0;
      padding: 0;

      li {
        @include source-sans-pro(1.4rem);
        padding-right: 4.3rem;
        text-transform: uppercase;

        &:last-child {
          padding-right: 0;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  .uic--navbar__right-navigation {
    flex: 1;

    .uic--navbar__right-navigation-list {
      @include media-breakpoint-down(md) {
        display: none;
      }

      list-style: none;
      margin: 0 0 0 auto;

      li {
        @include source-sans-pro(1.4rem);
        padding-left: 4.3rem;

        &:first-child {
          padding-left: 0;
        }

        a {
          text-decoration: none;
        }

        .btn {
          cursor: pointer;
        }
      }
    }
  }

  &.uic--navbar__static {
    @include media-breakpoint-up(lg) {
      opacity: 0.8;
    }

    background-color: $white;
    height: $static-navbar-height;

    .uic--navbar__logo {
      padding-right: 5.4rem;
    }

    .uic--navbar__mobile-drawer {
      .uic--navbar__mobile-drawer-list {
        li {
          border-bottom: 1px solid $static-navbar-border;
        }
      }

      .uic--navbar__mobile-drawer-wrapper {
        top: $static-navbar-height;

        .uic--navbar__mobile-drawer-inner {
          background-color: $white;
        }
      }
    }

    .uic--navbar__left-navigation {
      .uic--navbar__left-navigation-list {
        a {
          color: $slate;
        }
      }
    }

    .uic--navbar__navigation-active {
      color: $slate;
      font-weight: 600;

      a {
        opacity: 1 !important;
      }
    }

    .uic--navbar__navigation-link {
      color: $slate;
      cursor: pointer;
    }

    .uic--navbar__navigation-hide-static {
      // Hides the item on static if the prop is provided.
      display: none !important;
    }
  }

  &.uic--navbar__fixed {
    background-color: $midnight;
    height: $fixed-navbar-height;
    left: 0;
    top: 0;

    .uic--navbar__logo {
      padding-right: 5rem;
    }

    .uic--navbar__mobile-drawer {
      .uic--navbar__mobile-drawer-list {
        li {
          border-bottom: 1px solid $fixed-navbar-border;
        }
      }

      .uic--navbar__mobile-drawer-wrapper {
        left: 0;
        top: $fixed-navbar-height;

        .uic--navbar__mobile-drawer-inner {
          background-color: $midnight;
        }
      }
    }

    .uic--navbar__left-navigation {
      .uic--navbar__left-navigation-list {
        @include media-breakpoint-down(md) {
          display: none;
        }

        a {
          color: $white;
        }
      }
    }

    .uic--navbar__navigation-active {
      color: $white;
      font-weight: 600;

      a {
        opacity: 1 !important;
      }
    }

    .uic--navbar__navigation-link {
      color: $white;
      cursor: pointer;
      opacity: 0.7;
    }

    .uic--navbar__navigation-hide-fixed {
      // Hides the item on fixed if the prop is provided.
      display: none !important;
    }
  }
}
