$border: 1px solid $light-gray;
$animation-duration: 0.3s;

.uic--stackable-expand-collapse {
  background-color: $white;
  border-left: $border;
  border-right: $border;

  &:first-of-type {
    border-top: $border;
  }

  &:last-of-type {
    border-bottom: $border;

    .uic--stackable-expand-collapse-clickable {
      padding: 1.4rem 2rem 1.6rem;
    }

    .uic--stackable-expand-collapse-divider {
      border: 0;
    }
  }

  .uic--stackable-expand-collapse-divider {
    border: 0.5px solid $light-gray;
    margin: 0 2rem;
  }

  .uic--stackable-expand-collapse-clickable {
    @include source-sans-pro(1.6rem);
    align-items: baseline;
    background: $white;
    border: 0;
    color: $slate;
    cursor: pointer;
    margin: 0;
    padding: 1.4rem 2rem;
  }

  .uic--stackable-expand-collapse-icon {
    margin-left: 2rem;
    transition: transform $animation-duration;
  }

  .uic--stackable-expand-collapse-contents {
    @include source-sans-pro(1.4rem);
    color: $slate;
    max-height: 0;
    overflow: hidden;
    transition: max-height $animation-duration;

    &.uic--stackable-expand-collapse-expanded {
      max-height: 100rem; // Fallback
      max-height: var(--content-height);
    }
  }

  .uic--stackable-expand-collapse-contents-inner {
    padding: 0 5rem 2rem 2rem;
  }
}
