.uic--content-section {
  &::after {
    border-bottom: 1px solid $light-gray;
    content: '';
    display: block;
    height: 1px;
    margin-top: 3rem;
  }

  h3 {
    margin: 0;
  }

  .uic--content-section-children {
    margin-top: 3rem;
  }
}

// Modify styling when in card
.uic--mcgonagall-card-shell {
  .uic--content-section {
    margin-bottom: 3rem;
    top: -1rem;
  }
}
