@mixin hoverColor($normalColor, $disabledColor) {
  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    background-color: $normalColor;
  }
  &:disabled,
  &[disabled],
  &.disabled {
    &:hover,
    &:active,
    &:focus,
    &:active:focus {
      background-color: $disabledColor;
      cursor: not-allowed;
    }
  }
}
@mixin disabledStyle {
  &[disabled],
  &:disabled,
  &.disabled {
    @content;
    opacity: 1 !important; // override bootstrap disabled opacity of 0.65
    cursor: not-allowed !important;
  }
}

//------------------------
// Required for anchor tags which look the same as actual buttons.
//------------------------
a {
  &.uic--btn-primary,
  &.uic--btn-secondary,
  &.uic--btn-tertiary {
    display: inline-block;
  }
}

.btn {
  //------------------------
  // Main Button Reset
  //------------------------
  outline: none;
  transition: background-color 500ms, color 500ms;
  border: none;

  // Remove default bootstrap styling on active buttons
  &.active,
  &:active {
    box-shadow: none;
  }

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    outline: 0 !important;
  }

  //------------------------
  // Primary buttons
  //------------------------
  &.uic--btn-primary {
    text-transform: uppercase;
    background-color: $dark-blue;
    border: none;
    height: 6rem;
    color: white;
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    @include source-sans-pro(2rem);
    font-weight: 600;
    line-height: 1;
    white-space: normal;
    @include hoverColor($eggplant, $dark-blue);
    @include disabledStyle {
      color: rgba(white, 0.3);
    }
    &.uic--on-dark {
      background-color: $easter-purple;
      color: $dark-blue;
      @include hoverColor($lilac, $easter-purple);
      @include disabledStyle {
        color: rgba($dark-blue, 0.3) !important;
      }
    }
  }

  //------------------------
  // Secondary buttons
  //------------------------
  &.uic--btn-secondary {
    text-transform: none;
    font-weight: 600;
    @include source-sans-pro(1.4rem);
    padding: 0.8rem 1.6rem;
    border-radius: 0.25rem;
    &.uic--on-light {
      background-color: $violet-blue;
      color: $white-four;
      @include hoverColor($eggplant, $violet-blue);
      @include disabledStyle {
        color: rgba(white, 0.3) !important;
      }
    }
    &.uic--on-dark {
      background-color: $white-four;
      color: $stratos;
      @include hoverColor($midnight-20, $easter-purple);
      @include disabledStyle {
        color: rgba($dark-blue, 0.3) !important;
      }
      &.uic--white {
        background-color: $stratos;
      }
    }
  }

  //------------------------
  // Tertiary buttons
  //------------------------
  &.uic--btn-tertiary {
    text-transform: none;
    font-weight: 600;
    @include source-sans-pro(1.4rem);
    padding: 0.8rem 1.6rem;
    border-radius: 0.25rem;
    &.uic--on-dark {
      background-color: transparent;
      border: 1px solid $white-four;
      color: $white-four;
      @include hoverColor($white-15, transparent);
      @include disabledStyle {
        color: rgba($stratos, 0.3) !important;
      }
    }
    &.uic--on-light {
      border: 1px solid $violet-blue;
      color: $violet-blue;
      @include hoverColor($midnight-10, transparent);
      @include disabledStyle {
        color: rgba($violet-blue, 0.3) !important;
      }
    }
  }

  //------------------------
  // Link buttons
  //------------------------
  &.uic--btn-link {
    outline: none;
    color: $violet-blue;
    background: none !important;
    border: none;
    padding: 0 !important;
    text-decoration: underline;
    cursor: pointer;
    @include source-sans-pro(1.4rem);
    font-weight: 600;
    text-align: center;

    &.uic--on-dark {
      color: $white-four;

      &:hover {
        color: $white-four;
      }
    }

    &:hover {
      text-decoration: none;
      color: $eggplant;
    }
  }

  &.uic--show-spinner {
    .uic--spinner-wrapper {
      margin: 0 auto;
      left: 0;
      right: 0;
    }

    .uic--hide-button-text {
      height: 0px;
    }
  }

  &.uic--btn-tertiary,
  &.uic--btn-secondary {
    &.uic--show-spinner {
      svg {
        margin-bottom: -0.5rem;
        min-width: 8rem;
      }
    }
  }
}
