$btn-primary-disabled-light: rgba($white, 0.3);
$btn-primary-disabled-dark: rgba($midnight, 0.3);
$btn-primary-hover-dark: rgba(255, 255, 255, 0.15);
$btn-secondary-disabled-light: rgba($white, 0.3);
$btn-secondary-disabled-dark: rgba($midnight, 0.3);
$btn-tertiary-disabled-light: rgba($royal, 0.3);
$btn-tertiary-disabled-dark: rgba($super-dark, 0.3);

@mixin hover-color($normal-color, $disabled-color) {
  &:hover,
  &:active,
  &:focus {
    background-color: $normal-color;
  }

  &:disabled,
  &[disabled],
  &.disabled {
    &:hover,
    &:active,
    &:focus {
      background-color: $disabled-color;
      cursor: not-allowed;
    }
  }
}
@mixin disabled-style {
  &[disabled],
  &:disabled,
  &.disabled {
    @content;
    cursor: not-allowed !important;
    opacity: 1 !important; // override bootstrap disabled opacity of 0.65
  }
}

// Required for anchor tags which look the same as actual buttons.
a {
  &.btn-primary,
  &.btn-secondary,
  &.btn-tertiary,
  &.btn-image {
    display: inline-block;
  }
}

.btn {
  // Main Button Reset
  border: 0;
  transition: background-color 500ms, color 500ms;

  // Remove default bootstrap styling on active buttons
  &.active,
  &:active {
    box-shadow: none;
  }

  // Primary buttons
  &.btn-primary {
    @include hover-color($middle-purple, $midnight);
    @include disabled-style {
      color: $btn-primary-disabled-light;
    }
    @include source-sans-pro(2rem);
    background-color: $midnight;
    border: 0;
    border-radius: 0.5rem;
    color: $white;
    font-weight: 600;
    height: 6rem;
    line-height: 1;
    padding: 2rem 4rem;
    text-transform: uppercase;
    white-space: normal;

    &.on-dark {
      @include hover-color($white, $white);
      @include disabled-style {
        color: $btn-primary-disabled-dark !important;
      }
      background-color: $white;
      color: $midnight;
    }
  }

  // Secondary buttons
  &.btn-secondary {
    @include source-sans-pro(1.4rem);
    border-radius: 0.25rem;
    font-weight: 600;
    padding: 0.8rem 1.6rem;
    text-transform: none;

    &.on-light {
      @include hover-color($middle-purple, $royal);
      @include disabled-style {
        color: $btn-secondary-disabled-light !important;
      }

      background-color: $royal;
      color: $white;
    }

    &.on-dark {
      @include hover-color($midnight-20, $white);
      @include disabled-style {
        color: $btn-secondary-disabled-dark !important;
      }
      background-color: $white;
      color: $super-dark;

      &.white {
        background-color: $super-dark;
      }
    }
  }

  // Tertiary buttons
  &.btn-tertiary {
    @include source-sans-pro(1.4rem);
    background-color: transparent;
    border-radius: 0.25rem;
    font-weight: 600;
    padding: 0.8rem 1.6rem;
    text-transform: none;

    &.on-light {
      @include hover-color($midnight-10, transparent);
      @include disabled-style {
        color: $btn-tertiary-disabled-light !important;
      }
      border: 1px solid $royal;
      color: $royal;
    }

    &.on-dark {
      @include hover-color($btn-primary-hover-dark, transparent);
      @include disabled-style {
        color: $btn-tertiary-disabled-dark !important;
      }

      border: 1px solid $white;
      color: $white;
    }
  }

  // Link buttons
  &.btn-link {
    @include source-sans-pro(1.4rem);
    @include disabled-style {
      color: $disabled-text;
      text-decoration: none;
    }
    background: none !important;
    border: 0;
    color: $royal;
    cursor: pointer;
    font-weight: 600;
    padding: 0 !important;
    text-align: center;
    text-decoration: underline;

    &.on-dark {
      color: $white;

      &:hover,
      &:focus {
        color: $white;
      }

      &:focus {
        opacity: 0.8;
      }
    }

    &:hover,
    &:focus {
      color: $midnight;
      text-decoration: none;
    }

    &.uic--btn--warning {
      color: $orange-text;

      &:hover,
      &:focus {
        color: $orange-text;
        text-decoration: none;
      }
    }
  }

  // Icon buttons
  &.btn-icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    line-height: 1;
    padding: 0;

    > .text-wrapper {
      svg {
        display: block;
        height: 2.5rem;
        transition: stroke 500ms;
        width: 2.5rem;
      }
    }

    &.on-dark {
      > .text-wrapper {
        svg {
          stroke: $white;
        }
      }
    }

    // Remove default bootstrap styling on active buttons
    &.active,
    &:active {
      box-shadow: none;
    }

    &:hover,
    &:active,
    &:focus,
    &:active {
      // Override .btn
      background-color: transparent;

      > .text-wrapper {
        svg {
          stroke: $middle-purple;
        }
      }
    }

    &:disabled,
    &[disabled],
    &.disabled {
      &:hover,
      &:active,
      &:focus,
      &:active {
        &:focus {
          // Override .btn
          background-color: transparent;
        }
      }
    }

    &[disabled],
    &:disabled,
    &.disabled {
      opacity: 0.3 !important;
    }
  }

  &.show-spinner {
    .spinner-wrapper {
      left: 0;
      margin: 0 auto;
      right: 0;
    }

    .hide-button-text {
      height: 0;
    }
  }

  &.btn-tertiary,
  &.btn-secondary {
    &.show-spinner {
      svg {
        margin-bottom: -0.5rem;
        min-width: 8rem;
      }
    }
  }
}
