$item-color: rgba(248, 247, 244, 0.3);
$background-color: rgba(0, 0, 0, 0.85);

.uic--itemization-widget__wrapper {
  @include media-breakpoint-down(lg) {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-index-menu;
  }
  @include media-breakpoint-up(xl) {
    // Overrides background color on unapplicable screen sizes.
    background: none !important;
  }
}

.uic--itemization-widget {
  @include source-sans-pro(2.4rem);
  @include media-breakpoint-down(lg) {
    cursor: pointer;
    width: 100%;

    &.uic--itemization-widget-threshold {
      background-color: $orange;
    }
  }
  background-color: $midnight;
  color: $white;
  width: 16.4rem;

  .uic--itemization-widget__threshold-warning,
  .uic--itemization-widget__description {
    @include source-sans-pro(1.4rem);
    margin-top: 1.3rem;
  }

  .uic--itemization-widget__description {
    font-style: italic;
    opacity: 0.8;
  }

  .uic--itemization-widget__item-container {
    @include media-breakpoint-up(xl) {
      // Prevents the animations from toggling on larger displays.
      height: auto !important;
    }

    @include media-breakpoint-down(lg) {
      overflow: hidden;
    }
    height: inherit;
  }

  .uic--itemization-widget__item {
    border-bottom: 1px solid $item-color;
    padding: 1.6rem;

    &.uic--itemization-widget__total {
      border-top: 1px solid $item-color;
      word-wrap: break-word;
    }

    .uic--itemization-widget__label {
      font-size: 1.2rem;
    }

    .uic--itemization-widget__suffix {
      font-size: 1.8rem;
    }

    &.uic--itemization-widget__item-calc {
      background-color: $middle-purple;
      word-wrap: break-word;
    }

    &.uic--itemization-widget__item-threshold {
      background-color: $orange;
    }

    &:last-of-type {
      border-bottom: 0;
    }

    .uic--itemization-widget__itemized-container {
      padding-top: 0.5rem;

      .uic--itemization-widget__itemized {
        font-style: italic;
        margin: 0.5rem 0;
        opacity: 0.8;
        padding-left: 1.5rem;

        .uic--itemization-widget__itemized-value {
          font-size: 1.8rem;
        }
      }
    }
  }

  .uic--itemization-tooltip {
    margin-top: -1rem; // Fix for tooltip height

    button {
      font-size: 1.2rem;
    }
  }
}

// Modify styling when in card
.uic--mcgonagall-card-shell {
  .uic--itemization-widget__wrapper {
    @include media-breakpoint-up(xl) {
      left: -20rem;
      position: absolute;
      top: 0;
    }
  }
}
