@mixin bitter($size: null) {
  font-family: 'Bitter', sans-serif;
  font-size: $size;
}
@mixin source-sans-pro($size: null) {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $size;
}
@mixin source-sans-pro($size: null) {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $size;
}
@mixin cormorant($size: null) {
  font-family: 'Cormorant', serif;
  font-size: $size;
}
@mixin antialias {
  text-rendering: optimizeLegibility;
}
