// Check Styling
.option-box-check {
  position: absolute;
  left: 0;
  top: 0.2rem;
  height: 1.6rem;
  width: 1.6rem;
  border: 1px solid $bluey-grey-two;
  cursor: pointer;

  &:after {
    content: ' ';
    position: absolute;
    box-sizing: initial;
  }

  &.checked {
    background: $violet-blue;
    border-color: transparent;

    &:after {
      display: block;
      top: 0.1rem;
      left: 0.4rem;
      width: 0.4rem;
      height: 0.8rem;
      border: solid $white-four;
      border-width: 0 0.2rem 0.2rem 0;
      transform: rotate(40deg);
    }
  }

  &.disabled {
    opacity: 0.6;
    cursor: default;
  }
}

// Radio Styling
.option-box-radio {
  position: absolute;
  left: 0;
  top: 0.2rem;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  border: 1px solid $bluey-grey-two;
  cursor: pointer;

  &:after {
    content: ' ';
    position: absolute;
    box-sizing: initial;
  }

  &.checked {
    background-color: $white-four;

    &:after {
      display: block;
      top: 0.2rem;
      left: 0.2rem;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: $violet-blue;
    }
  }

  &.disabled {
    opacity: 0.6;
    cursor: default;
  }
}
