// Check Styling
.uic--option-box-check {
  left: 0;
  top: 0.2rem;
  height: 16px;
  width: 16px;
  border: 1px solid $bluey-grey-two;
  cursor: pointer;

  &:after {
    content: ' ';
    position: absolute;
    box-sizing: initial;
  }

  &.uic--checked {
    background: $violet-blue;
    border-color: transparent;

    &:after {
      display: block;
      top: 1px;
      left: 4px;
      width: 4px;
      height: 8px;
      border: solid $white-four;
      border-width: 0 2px 2px 0;
      transform: rotate(40deg);
    }
  }

  &.uic--disabled {
    opacity: 0.6;
    cursor: default;
  }
}

// Radio Styling
.uic--option-box-radio {
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid $bluey-grey-two;
  cursor: pointer;

  &:after {
    content: ' ';
    position: absolute;
    box-sizing: initial;
  }

  &.uic--checked {
    background-color: $white-four;

    &:after {
      display: block;
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $violet-blue;
    }
  }

  &.uic-disabled {
    opacity: 0.6;
    cursor: default;
  }
}
