// Check Styling
.uic--option-box-check {
  border: 1px solid $disabled-text;
  cursor: pointer;
  height: 16px;
  left: 0;
  top: 0;
  width: 16px;

  &::after {
    box-sizing: initial;
    content: ' ';
    position: absolute;
  }

  &.uic--checked {
    background: $royal;
    border-color: transparent;

    &::after {
      border: solid $white;
      border-width: 0 2px 2px 0;
      display: block;
      height: 8px;
      left: 4px;
      top: 1px;
      transform: rotate(40deg);
      width: 4px;
    }
  }

  &.uic--disabled {
    cursor: default;
    opacity: 0.6;
  }
}

// Radio Styling
.uic--option-box-radio {
  border: 1px solid $disabled-text;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  left: 0;
  width: 16px;

  &::after {
    box-sizing: initial;
    content: ' ';
    position: absolute;
  }

  &.uic--checked {
    background-color: $white;

    &::after {
      background: $royal;
      border-radius: 50%;
      display: block;
      height: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
    }
  }

  &.uic-disabled {
    cursor: default;
    opacity: 0.6;
  }
}
