$button-size: 1.6rem;
$button-padding: 1.6rem;
$label-left-padding: $button-size + $button-padding;
$label-vertical-padding: 1.4rem;

.uic--mcgonagall-checkbox-button-container {
  border: 0;
  margin: 0;
  padding: 0;

  legend {
    border: 0;
    margin: 0;
    padding: 0;

    &.uic--table {
      border: 1px solid $light-gray;
      margin: 1.4rem 0;

      .uic--mcgonagall-checkbox-button {
        background-color: $white;
        border-bottom: 1px solid $light-gray;
        margin: 0;
        padding: 1.4rem;

        .uic--checkbox-label {
          padding-bottom: 0;
          padding-top: 0;
        }

        &:nth-of-type(2n) {
          background-color: $table-alternate;
        }
      }
    }
  }
}

.uic--mcgonagall-checkbox-button {
  @include source-sans-pro(1.6rem);

  &:not(:last-child) {
    &.uic--mcgonagall-checkbox-button-followup {
      margin-bottom: 1rem;
    }
  }

  .uic--checkbox-input {
    opacity: 0;

    &:focus + .uic--option-box-check {
      border: 1px solid $royal;
    }
  }

  .uic--checkbox-label {
    color: $slate;
    cursor: pointer;
    font-weight: normal;
    padding-bottom: $label-vertical-padding;
    padding-left: $label-left-padding;
    padding-top: $label-vertical-padding;
    user-select: none;

    &.uic--disabled {
      cursor: default;
      opacity: 0.5;

      .uic--checkbox {
        cursor: default;
        opacity: 0.5;
      }
    }
  }

  .uic--option-box-check {
    top: auto;
  }

  .uic--followup {
    margin-top: 0.6rem;
    padding-left: $label-left-padding;
  }

  .uic--label-value-secondary {
    color: $midnight;
    font-weight: 600;
    margin-left: 1rem;
  }
}

// In McG cards, enable hover effect to checkboxes as long as it's not being used in a follow up
$mcg-side-margin: 3.5rem;

.uic--mcgonagall-card-shell {
  .uic--mcgonagall-checkbox-button-container {
    &:not(.uic--mcgonagall-checkbox-table-container) {
      margin-left: -$mcg-side-margin;
      margin-right: -$mcg-side-margin;

      .uic--checkbox-label {
        padding-left: $label-left-padding + $mcg-side-margin;

        &:hover {
          background-color: $table-alternate;
        }
      }

      .uic--followup {
        padding-left: $label-left-padding + $mcg-side-margin;
      }

      .uic--checkbox-input {
        left: $mcg-side-margin;
      }

      .uic--option-box-check {
        left: $mcg-side-margin;
      }
    }
  }

  // If in a followup, should not have the hover styling
  .uic--followup {
    .uic--mcgonagall-checkbox-button-container {
      &:not(.uic--mcgonagall-checkbox-table-container) {
        margin-left: 0;
        margin-right: 0;

        .uic--checkbox-label {
          padding-left: $label-left-padding;

          &:hover {
            background-color: transparent;
          }
        }

        .uic--checkbox-input {
          left: auto;
        }

        .uic--option-box-check {
          left: 0;
        }
      }
    }
  }
}
