.uic--card-summary {
  margin: -0.3rem; // Accounts for card border padding fix
  padding: 1.5rem 2rem;

  .uic--card-summary-label {
    @include source-sans-pro(1.6rem);
    color: $slate;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    word-break: break-word;
  }

  .uic--card-summary-answer {
    @include source-sans-pro(1.6rem);
    color: $midnight;
    font-weight: 600;
    line-height: 1.2;
    margin: 10px 0;
    word-break: break-word;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &.uic--incomplete-card {
    .uic--card-summary-answer,
    .uic--btn-link {
      color: $pink;
      font-weight: 600;
    }
  }
}

// Modify styling when in card that has an error
.uic--mcgonagall-card-shell {
  &.uic--card-error {
    .uic--card-summary {
      padding: -0.2rem; // Accounts for card border padding fix
    }
  }
}
