.mcgonagall-message-card {
  .card-feature-image {
    margin-bottom: 2rem;
  }

  .card-message-summary {
    padding: 4rem 3.5rem;
  }
}

.mcgonagall-card.error .card-message-summary {
  p,
  .btn-link {
    color: $red-magenta;
    font-weight: 600;
  }

  p {
    margin-bottom: 1rem;
  }
}
