.uic--itemization-box {
  background-color: $table-alternate;
  border: 1px solid $light-gray;

  .uic--itemization-box__total {
    color: $midnight;
    font-weight: 600;

    &.uic--itemization-box__total-negative {
      color: $pink;
    }
  }

  .uic--itemization-box__summary {
    @include source-sans-pro(2rem);
    background-color: $white;
    color: $slate;
    padding: 2.4rem 3rem;
  }

  .uic--itemization-box__itemizations {
    @include source-sans-pro(1.6rem);
    border-top: 1px solid $light-gray;
    color: $slate;

    line-height: 1.4;
    overflow: hidden;
    padding: 2.4rem 3rem;

    .uic--itemization-box__itemizations-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 0;
    }

    .uic--itemization-box__button {
      bottom: 3rem;
      padding: 3rem 0 0.8rem;

      .btn-link {
        text-align: left;
      }
    }
  }
}
