@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

@import './variables/dsm-colors.scss';
@import './variables/colors.scss';
@import './mixins/fonts.scss';

//* Globals
* {
  box-sizing: border-box;
}

//* Rotation utility classes for things such as arrows.
//* These utility classes make the assumption that your element starts in the downwards position.
.uic--rotate {
  &.uic--rotate-down {
    transform: rotate(0);
  }

  &.uic--rotate-right {
    transform: rotate(-90deg);
  }

  &.uic--rotate-left {
    transform: rotate(90deg);
  }

  &.uic--rotate-up {
    transform: rotate(180deg);
  }
}