.uic--tooltip-input {
  // Overrides the input fields to prevent a display issue with the
  // validation field.
  .uic--tooltip-input-content {
    outline: none;
  }

  .uic--tooltip-wrapper {
    max-width: 100%;
    width: 37rem;

    .uic--validation-error {
      display: none;
    }

    &.show {
      .uic--validation-error {
        display: block;
      }
    }

    .btn {
      cursor: pointer;
    }
  }

  .uic--tooltip-input-confirm {
    margin-left: 1.5rem;
  }
}
