$cabinet-z-index: 99999;
$cabinet-shadow: rgba(91, 98, 121, 0.2);

.admin-nav-present {
  .uic--cabinet {
    padding-bottom: 9rem;
    top: 3rem;
  }
}

.uic--cabinet-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.uic--cabinet {
  @include source-sans-pro(1.6rem);
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
  background-color: $white;
  bottom: 0;
  box-shadow: 0 2px 20px 15px $cabinet-shadow;
  min-height: 100vh;
  padding-bottom: 6rem;
  right: 0;
  text-align: left;
  top: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  width: 50rem;
  z-index: $cabinet-z-index;

  &.uic--hide-cabinet {
    @include media-breakpoint-down(xs) {
      transform: translate3d(100vw, 0, 0);
    }

    box-shadow: none;
    transform: translate3d(500px, 0, 0);
  }

  &.uic--show-cabinet {
    transform: translate3d(0, 0, 0);
  }

  .uic--visible-in-print {
    @media print {
      bottom: auto;
      display: block;
      min-height: auto;
      position: relative;
      right: auto;
      top: auto;
      transform: translate3d(0, 0, 0);
      width: 100%;
    }
  }

  .uic--cabinet-header {
    border-bottom: 1px solid $light-gray;
    padding: 2rem 2.5rem;

    .uic--cabinet-title {
      color: $slate;
      font-size: 1.4rem;
      line-height: 1;
    }

    .uic--cabinet-close {
      background-image: url('../../../assets/icons/close.svg');
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      height: 11px;
      margin-right: 2.1rem;
      margin-top: 2px;
      width: 11px;
    }
  }

  .uic--cabinet-body {
    color: $slate;
    overflow-y: scroll;
    padding: 3rem 6rem;

    h1,
    h2 {
      color: $midnight;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: normal;
    }

    h1 {
      margin-bottom: 3rem;
      margin-top: 0;
    }

    h2 {
      margin: 3rem 0 0;
    }

    p {
      color: $slate;
      font-style: normal;
      margin-top: 0.8rem;
    }

    ul,
    ol {
      li {
        margin-top: 0.8rem;

        // Nested lists.
        ul,
        ol {
          padding: 0 0 1rem 3rem;
        }
      }
    }
  }
}