$transition-duration: 0.25s;




.ui-block-input__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: $slate;
}

.ui-block-dropdown {
  margin: 0;
  padding: 1rem;
  text-align: left;
  transition-property: color, border-color, box-shadow;
  transition-duration: $transition-duration;

  position: relative;
  line-height: normal;
  text-align: left;
  border: 1px solid $white-seven;
  background-color: $white-four;
  padding: 2.6rem 1.2rem 1rem 1.2rem;
  width: 100%;

}

.ui-block-dropdown--disabled {
  background-color: $white-three;

  .ui-block-input__input {
    color: $slate;
  }

  .ui-block-dropdown.is-disabled > .ui-block-dropdown__control {
    background-color: $white-three;
    cursor: default;

    .ui-block-dropdown__value .ui-block-dropdown__value-label {
      color: $slate;
    }
  }
}

// Customized react-select component styles
.ui-block-dropdown__select {
  // Select dropdown
  .ui-block-dropdown__control {
    height: 1.7rem;
    border: none;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      box-shadow: none;
    }
  }

  // Focused select dropdown selected value
  &.ui-block-dropdown.is-focused,
  &.ui-block-dropdown.is-focused.is-focused.has-value.ui-block-dropdown__single-value {
    & > .ui-block-dropdown__control .ui-block-dropdown__value .ui-block-dropdown__value-label {
      color: $violet-blue;
    }
  }

  // Placeholder and selected value
  .ui-block-dropdown__placeholder,
  &.ui-block-dropdown__single-value > .ui-block-dropdown__control .ui-block-dropdown__value {
    padding-left: 0;
    line-height: 2.7rem;
  }

  // Selected value
  &.ui-block-dropdown__single-value > .ui-block-dropdown__control .ui-block-dropdown__value {
    padding: 0;
    color: $dark-blue;
    border: none;
    transition: color $transition-duration;
  }

  &.ui-block-dropdown__single-value > .ui-block-dropdown__control .ui-block-dropdown__value .ui-block-dropdown__value-label {
    transition: color $transition-duration;
  }

  .ui-block-dropdown__placeholder {
    font-style: italic;
    color: $bluey-grey;
  }

  // Typeable input
  .ui-block-dropdown__input {
    height: 2rem;
    padding-left: 0;
    vertical-align: initial;

    & > input {
      padding: 0;
      line-height: 1;
      color: $violet-blue;
    }
  }

  // Clear value button
  .ui-block-dropdown__clear {
    font-size: 25px;
  }

  .ui-block-dropdown__arrow {
    border-width: 7.5px 6px 2.5px;
    color: $slate;
  }

  &.is-open > .ui-block-dropdown__control .ui-block-dropdown__arrow {
    border-width: 0 6px 7.5px;
  }
}