$transition-duration: 0.25s;




.mcgonagall-dropdown {
  margin: 0;
  text-align: left;
  transition-property: color, border-color, box-shadow;
  transition-duration: $transition-duration;
  position: relative;


  label {
    @include source-sans-pro(1.2rem);
    position: absolute;
    padding: 1.2rem;
    color: $slate;
    font-weight: normal;
    left: 0;
    top: 0;
    z-index: 999;
  }


  .mcgonagall-dropdown__value-container {
    padding: 0;

    * {
      margin: 0;
    }
  }


  .mcgonagall-dropdown__indicator {
    padding: 0 8px;
  }


  .mcgonagall-dropdown__control {
    @include source-sans-pro(2rem);
    border-radius: 0;
    padding: 2.3rem 1.2rem 1rem 1.2rem;
    max-height: 63px;
    font-style: normal;

    .mcgonagall-dropdown__placeholder {
      margin: 0;
      font-style: normal;
    }
  }
}

.mcgonagall-dropdown--disabled {
  background-color: $white-three;

  .mcgonagall-dropdown__input {
    color: $slate;
  }

  .mcgonagall-dropdown.is-disabled > .mcgonagall-dropdown__control {
    background-color: $white-three;
    cursor: default;

    .mcgonagall-dropdown__value .mcgonagall-dropdown__value-label {
      color: $slate;
    }
  }

}

// Customized react-select component styles
.mcgonagall-dropdown__control {
  height: 1.7rem;
  border: none;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;

  position: relative;
  line-height: normal;
  text-align: left;
  border: 1px solid $white-seven;
  background-color: $white-four;
  width: 100%;
  height: 100%;

  &:hover {
    box-shadow: none;
  }

  // Focused select dropdown selected value
  &.mcgonagall-dropdown.is-focused,
  &.mcgonagall-dropdown.is-focused.is-focused.has-value.mcgonagall-dropdown__single-value {
    & > .mcgonagall-dropdown__control .mcgonagall-dropdown__value .mcgonagall-dropdown__value-label {
      color: $violet-blue;
    }
  }

  // Placeholder and selected value
  .mcgonagall-dropdown__placeholder,
  &.mcgonagall-dropdown__single-value > .mcgonagall-dropdown__control .mcgonagall-dropdown__value {
    padding-left: 0;
    line-height: 2.7rem;
  }

  // Selected value
  &.mcgonagall-dropdown__single-value > .mcgonagall-dropdown__control .mcgonagall-dropdown__value {
    padding: 0;
    color: $dark-blue;
    border: none;
    transition: color $transition-duration;
  }

  &.mcgonagall-dropdown__single-value > .mcgonagall-dropdown__control .mcgonagall-dropdown__value .mcgonagall-dropdown__value-label {
    transition: color $transition-duration;
  }

  .mcgonagall-dropdown__placeholder {
    font-style: italic;
    color: $bluey-grey;
  }

  // Typeable input
  .mcgonagall-dropdown__input {
    height: 2rem;
    padding-left: 0;
    vertical-align: initial;

    & > input {
      padding: 0;
      line-height: 1;
      color: $violet-blue;
    }
  }

  // Clear value button
  .mcgonagall-dropdown__clear {
    font-size: 25px;
  }

  .mcgonagall-dropdown__arrow {
    border-width: 7.5px 6px 2.5px;
    color: $slate;
  }

  &.is-open > .mcgonagall-dropdown__control .mcgonagall-dropdown__arrow {
    border-width: 0 6px 7.5px;
  }
}