$input-shadow: rgba(77, 0, 186, 0.5);
$input-data-value-color: rgba(255, 255, 255, 0);

.uic--file-input {
  &.uic--error {
    .uic--file-input__label {
      border: 1px solid $pink;
      box-shadow: none;
      color: $pink;

      &:focus,
      &:active {
        border: 1px solid $pink;
        box-shadow: none;
        color: $pink;
      }
    }

    .uic--validation-error {
      display: block;
    }
  }

  &.uic--disabled {
    .uic--description {
      color: $disabled-text;
    }
  }

  .uic--file-input__wrapper {
    background-color: transparent;
  }

  .uic--file-input__input {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .uic--file-input__label {
    @include source-sans-pro(2rem);
    background-color: $white;
    border: 1px solid $light-gray;
    color: $midnight;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 2.6rem 1.2rem 1rem 1rem;

    &.uic--empty {
      border: 1px dashed $royal;

      &.uic--disabled {
        border: 1px dashed $light-gray;
      }

      .uic--file-input__span {
        color: $disabled-text;
        font-style: italic;
        font-weight: normal;
        margin-bottom: 0.8rem;
        margin-top: -0.8rem;
      }
    }

    &.uic--dragging,
    &.uic--focus {
      border: 1px solid $royal;
      box-shadow: 0 0 4px 0 $input-shadow;
      color: $royal;
    }

    &:hover {
      .btn {
        background-color: $middle-purple;
      }
    }

    &.uic--disabled {
      background-color: $table-alternate;
      color: $disabled-text;
      cursor: default;

      // Resets the focus and active styles for the input
      // when it's in a disabled state.
      &:focus,
      &:active {
        border: 1px solid $light-gray;
        box-shadow: none;

        &.uic--empty {
          border: 1px dashed $light-gray;
        }
      }

      .uic--file-input__span {
        color: $disabled-text;
      }

      .btn {
        background-color: $royal;
        cursor: default;
      }
    }

    .uic--file-input__span {
      min-height: 2.6rem;
    }

    span {
      display: block;
      overflow: hidden;
    }
  }

  .btn {
    float: right;
    margin-top: -1.3rem;
  }

  label {
    @include source-sans-pro(1.2rem);
    color: $slate;
    font-weight: normal;
    left: 0;
    padding: 1.2rem;
  }

  .uic--validation-error {
    color: $pink;
    display: none;
    font-weight: bold;
  }

  .uic--description {
    color: $slate;
    font-style: italic;
    white-space: initial;
  }

  .uic--validation-error,
  .uic--description {
    @include source-sans-pro(1.2rem);
    padding: 0.5rem 0 0 1rem;
  }
}

// Modify styling when in card
.uic--mcgonagall-card-shell {
  .uic--file-input {
    padding-bottom: 1.2rem;
  }
}
