$button-spacing: 1rem;

.uic--mcg-framework {
  .uic--mcg-subnav {
    background-color: $white;
    border-bottom: 1px solid $light-gray;
    height: 5rem;
    left: 0;
    right: 0;
    top: 0;
    z-index: $z-index-overlay;

    h1 {
      @include source-sans-pro(1.4rem);
      color: $slate;
      font-weight: 400;
      margin: 0;
    }

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      margin-right: $button-spacing;
      margin-top: 5px;
      padding: 0;
    }

    // To help with flex positioning of navbar items
    span {
      margin-left: $button-spacing;
      width: 1.6rem;
    }

    @include media-breakpoint-up(sm) {
      $button-spacing: 1.7rem;

      button {
        margin-right: $button-spacing;
      }

      span {
        margin-left: $button-spacing;
      }
    }
  }

  .uic--mcg-card-container {
    padding: 3.6rem 1rem;
  }
}

// Sets up the ItemizationWidget positioning when placed in a card.
.uic-itemization-widget--present {
  .uic--mcg-framework {
    @include media-breakpoint-down(lg) {
      // Makes space for the widget when it's on a mobile device.
      margin-top: 15rem;
    }

    .uic--itemization-widget__wrapper {
      @include media-breakpoint-down(lg) {
        top: 5rem;
      }
    }
  }

  .admin-nav-present {
    .uic--mcg-framework {
      @include media-breakpoint-down(lg) {
        // Makes space for the widget when it's on a mobile device.
        margin-top: 17rem;
      }

      .uic--itemization-widget__wrapper {
        @include media-breakpoint-down(lg) {
          top: 8rem;
        }
      }
    }
  }
}
