$inactive-border-size: 1px;
$active-border-size: 4px;

.uic--mcgonagall-card {
  background-color: $white;
  border: solid $inactive-border-size $light-gray;
  margin: 0 auto;
  max-width: 76.4rem;
  overflow: hidden;

  &.uic--active {
    border-top: 0;
    margin-bottom: 3.6rem;
    margin-top: 3.6rem;
    padding: calc(4rem + #{$active-border-size}) 3.5rem 4rem; // Account for top border in top padding

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .uic--active-border {
      background: $royal;
      height: $active-border-size;
      left: -$inactive-border-size;
      position: absolute;
      right: -$inactive-border-size;
      top: 0;
    }
  }

  &.uic--collapsed {
    margin-top: 1.2rem;
    padding: 0.3rem;

    &:first-child {
      margin-top: 0;
    }

    &.uic--error {
      padding: 0.2rem;
    }
  }

  &.uic--error {
    border: solid 2px $pink;
    padding: 4.2rem 3.4rem 3.9rem;
  }

  &.uic--animation-ended {
    overflow: visible;
  }

  .uic--card-content {
    // Make bootstrap grid a little tighter
    .uic--row {
      margin-left: -0.75rem;
      margin-right: -0.75rem;
    }

    .uic--col,
    [class*='uic--col-'] {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }

  .uic--card-after-content {
    margin-top: 3rem;
  }

  .uic--card-before-button {
    margin-bottom: 1rem;
    text-align: center;
  }

  .uic--card-after-button {
    margin-top: 1rem;
    text-align: center;
  }

  .uic--ec {
    // Override for the ExpandCollapse as it should appear higher than other content in the card.
    top: -1rem;
  }

  .uic--itemization-widget__wrapper {
    @include media-breakpoint-up(xl) {
      left: -20rem;
      position: absolute;
      top: 0;
    }
  }
}
