.mcgonagall-card {
  .card-titleset {
    h2 {
      @include source-sans-pro(2rem);
      color: $dark-blue;
      font-weight: 400;
      margin: 0;
    }

    p {
      @include source-sans-pro(1.4rem);
      font-style: italic;
      color: $dark-blue;
      margin: 1rem 0 0 0;
    }
  }
}
