$inactive-border-size: 1px;
$active-border-size: 4px;

// Shell that handles margins and borders for the card
.uic--mcgonagall-card-shell {
  background-color: $white;
  border: solid $inactive-border-size $light-gray;
  margin: 0 auto;
  max-width: 76.4rem;
  overflow: hidden;

  &.uic--active {
    border-top: 0;
    margin-bottom: 3.6rem;

    .uic--mcg-framework & {
      margin-top: 3.6rem;
    }

    .uic--active-border {
      background: $royal;
      height: $active-border-size;
      left: -$inactive-border-size;
      position: absolute;
      right: -$inactive-border-size;
      top: 0;
    }

    .uic--mcgonagall-card {
      padding: calc(4rem + #{$active-border-size}) 3.5rem 4rem; // Account for top border in top padding
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.uic--collapsed {
    margin-top: 1.2rem;

    .uic--mcgonagall-card {
      padding: 0.3rem;

      &.uic--card-error {
        padding: 0.2rem;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &.uic--card-error {
    border: solid 2px $pink;

    .uic--mcgonagall-card {
      padding: 4.2rem 3.4rem 3.9rem;
    }
  }

  &.uic--animation-ended {
    height: auto !important; // Has to override inline height
    overflow: visible;
  }

  .uic--card-content {
    // Make bootstrap grid a little tighter
    .uic--row {
      margin-left: -0.66rem;
      margin-right: -0.66rem;
    }

    .uic--col,
    [class*='uic--col-'] {
      padding-left: 0.66rem;
      padding-right: 0.66rem;
    }
  }

  .uic--card-after-content {
    margin-top: 3rem;
  }

  .uic--card-submit {
    &[disabled] {
      pointer-events: none;
    }
  }

  .uic--card-before-button {
    margin-bottom: 1rem;
    text-align: center;
  }

  .uic--card-after-button {
    margin-top: 1rem;
    text-align: center;
  }

  h2 {
    @extend %uic--mcg-question-text;
  }

  h3 {
    @extend %uic--mcg-subhead-text;
  }
}
