.uic--mcgonagall-card {
  $inactive-border-size: 1px;
  $active-border-size: 4px;

  background-color: $white-four;
  border: solid $inactive-border-size $white-seven;
  margin: 0 auto;
  max-width: 76.4rem;

  &.uic--active {
    border-top: solid $active-border-size transparent;
    margin-bottom: 3.6rem;
    margin-top: 3.6rem;
    padding: 4rem 3.5rem;
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .uic--active-border {
      position: absolute;
      top: -$active-border-size;
      height: $active-border-size;
      background: $violet-blue;
      left: -$inactive-border-size;
      right: -$inactive-border-size;
    }
  }

  &.uic--collapsed {
    margin-top: 1.2rem;
    padding: 0.3rem 0.3rem;

    &:first-child {
      margin-top: 0;
    }

    &.uic--error {
      padding: 0.2rem 0.2rem;
    }
  }

  &.uic--error {
    border: solid 2px $red-magenta;
    padding: 4.2rem 3.4rem 3.9rem;
  }

  .uic--card-after-content {
    margin-top: 3rem;
  }

  .uic--card-before-button {
    margin-bottom: 1rem;
    text-align: center;
  }

  .uic--card-after-button {
    margin-top: 1rem;
    text-align: center;
  }
}
