.uic--z-index-below {
  z-index: $z-index-below;
}

.uic--z-index-auto {
  z-index: $z-index-auto;
}

.uic--z-index-default {
  z-index: $z-index-default;
}

.uic--z-index-tooltip {
  z-index: $z-index-tooltip;
}

.uic--z-index-dropdown {
  z-index: $z-index-dropdown;
}

.uic--z-index-overlay {
  z-index: $z-index-overlay;
}

.uic--z-index-menu {
  z-index: $z-index-menu;
}

.uic--z-index-modal {
  z-index: $z-index-modal;
}

.uic--z-index-toast {
  z-index: $z-index-toast;
}
